<!DOCTYPE HTML>
<html>
	<head>
		<title>Login and Registration</title>
	</head>
	<body>
		<h1>Welcome!</h1> Please login using your username(e-mail address) and password. If you have not registered on the this site yet,<br> fill out the registration form below to get started!<br><br>
		<strong>Please Login:</strong>
		<form action='/login' method='post'>
			<br>Username
			<input type="text" name="username"><br><i>(enter your email address): </i><br><br>
			Password: 
			<input type="password" name="password"><br><br>
			<input type="submit" name="submit">
		</form>
		<div></div>
		<h2>Registration Form</h2>
		<form action="/registration" method="post">
		<input type="text" name="first" placeholder="First name">
		<input type="text" name="last" placeholder="Last name"><br><br>
		<input style="width: 260px;" type="text" name="email" placeholder="Email address"><br><br>
		<input type="password" name="passwordnew" placeholder="Password"><br><br>
		<input type="password" name="confirm" placeholder="Confirm Password"><br><br>
		<input type="submit" value="Register">
		</form>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul style="list-style-type:circle">
		{% for message in messages %}
			<li><strong><font color="red">{{ message }}</font></strong></li>
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}









	</body>
</html>	